*{
    font-family: NexaLight;
}
@font-face {
    font-family: NexaBold;
    src: url("../styles/fonts/nexabold.ttf");
}

@font-face {
    font-family: NexaLight;
    src: url("../styles/fonts/nexalight.ttf");
}
h1{
    font-family: NexaBold;
}
h2{
    font-family: NexaLight;
}


.container{
    display: flex;
    flex-direction: row;
}

.purchasePage{
    display: flex;
    flex-direction: column;
}

.purchaseImage{
    display:flex;
    height: 50dvh;
    margin-right: 60px;
}

.boxes{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.icons{
    height: 60px;
    padding: 10px;
}
/* dropdown size menu css */
option:hover{
    background-color: #4FB2A2;
    font-weight: bold;
}

select{
overflow-y: auto;
width: 20dvw;
border:none;
text-align: center;
font-size: large;
}