form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}

.input-block input, .input-block textarea, #btn-submit {
    font-family: 'NexaLight', Arial, sans-serif;
    font-size: 1rem;
    padding: 0.2rem;
    width: 100%;
}

.field {
    border: 3px solid #4FB2A2;
}

.warning-field {
    border: 3px solid red;
}

#block-fname {
    grid-column-start: 3;
}

#warning-block {
    grid-column: 3 / span 2;
}

#block-email {
    grid-column: 3 / span 2;
}

#block-message {
    grid-column: 3 / span 2;
    min-height: 1rem;
    min-width: 100%;
}

#submit-block {
    grid-row: 5;
    grid-column: 4;
}

#btn-submit {
    border: 3px solid #4FB2A2;
    display: block;
    margin-left: auto;
    margin-right: 0;
    transition: 0.4s;
    font-family: 'NexaBold', Arial, sans-serif;
}

#btn-submit:hover {
    background-color: #4FB2A2;
    cursor: pointer;
}

.warning-text {
    color: red;
}

main {
    margin-top: 2rem;
}

.centered{
    text-align: center;
}

textarea {
    resize: none;
}

#success-main {
    margin-block: auto;
}