@font-face {
    font-family: NexaLight;
    src: url("./fonts/nexalight.ttf");
}

@font-face {
    font-family: NexaBold;
    src: url("./fonts/nexabold.ttf");
}

h1 {
    font-family: NexaBold, sans-serif;
    text-align: center;
    font-size: 4vw;
    padding: 2vw;
}

h2 {
    font-family: NexaBold, sans-serif;
    text-align: center;
    font-size: 2.5vw;
    padding-bottom: 0;
}

h3 {
    font-family: NexaLight, sans-serif;
    text-align: center;
    font-size: 2vw;
    padding-top: 0;
}

.greenBoxesLink{
    text-decoration: none;
    color: black;
}

.sockImages {
    display: flex;
    flex-direction: row;
    width: 65%;
    margin: auto;
    padding: 2vw;
}

.sockImages img {
    width: 100%;
}

.hover:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    transition: transform .2s;
}

.greenBoxes {
    display: block;
    margin: auto;
    height: fit-content;
    width: fit-content;
    background-color: #51b2a2;
    transition: transform .8s;
    margin-block: 2vw;
    color:black;
}

.greenBoxes:hover {
    background-color: #3BCFAB;
}