*{
    font-family: NexaLight;
}
@font-face {
    font-family: NexaBold;
    src: url("../styles/fonts/nexabold.ttf");
}

@font-face {
    font-family: NexaLight;
    src: url("../styles/fonts/nexalight.ttf");
}
h1{
    font-family: NexaBold;
}
h2{
    font-family: NexaLight;
}


.container{
    display: flex;
    flex-direction: row;
}

.purchasePage{
    display: flex;
    flex-direction: column;
}

.purchaseImage{
    display:flex;
    height: 50dvh;
    margin-right: 60px;
}

.boxes{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    place-items: center;
}

.icons{
    height: 60px;
    padding: 10px;
}
/* dropdown size menu css */
select{
overflow-y: auto;
width: 20dvw;
border:none;
text-align: center;
font-size: large;
}
option:hover{
    background-color: #4FB2A2;
    font-weight: bold;
}
/* style selection css */
.style-select{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
input[type="radio"]{
  display: none;
}
.style:hover{
  background-color: #4FB2A2;
  border: 2px solid black;
}
.style::selection{
  border: 2px solid black;
}
input[type="radio"]::selection{
  border: 2px solid black;
}

/* Sock colour selection  */
