* {
  font-family: NexaLight;
}

@font-face {
  font-family: NexaBold;
  src: url("../styles/fonts/nexabold.ttf");
}

@font-face {
  font-family: NexaLight;
  src: url("../styles/fonts/nexalight.ttf");
}

h1 {
  font-family: NexaBold;
  font-size: 2.5vw;
}

h2 {
  font-family: NexaLight;
  font-size: 2vw;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.purchasePage {
  display: flex;
  flex-direction: column;
}

.purchaseImage {
  display: flex;
  width: 30%;
  margin-right: 5vw;
}
.purchaseImage img{
  width: 100%;
  object-fit: cover;

}

/* dropdown size menu css */
select {
  overflow-y: auto;
  width: auto;
  border: none;
  text-align: center;
  font-size: 2vw;
}

option:hover {
  background-color: #4FB2A2;
  font-weight: bold;
  cursor: pointer;
}

/* style selection css */
.style-select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

input[type="radio"] {
  display: none;

  &:checked+label {
    border: 2px solid black;
    font-weight: bold;
  }
}

.style {
  font-size: 2vw;
}

.style:hover {
  background-color: #4FB2A2;
  font-weight: bold;
}

/* Sock colour selection  */
.boxes {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;

}

.icons {
  max-height: 5vw;
  min-height: 5vw;
  
}

/* submit button */
.purchaseButton {
  font-size: 2vw;
  border: 2px solid black;

}

main {
  padding-block: 10%;
}
.warning-text {
  color: red;
}

label:hover, button:hover, select:hover{
  cursor: pointer;
} 

