@font-face {
    font-family: NexaLight;
    src: url("./fonts/nexalight.ttf");
}

@font-face {
    font-family: NexaBold;
    src: url("./fonts/nexabold.ttf");
}

.title {
    font-size: 60px;
    font-family: NexaBold;
    color: white;
    text-align: center;
    background-color: #4FB2A2;
    padding-left: 100px;
    padding-right: 100px;
}

.container {
    /*Container for rows*/
    display: flex;
    justify-content: center;
}

.pics_container {
    /*Container for the Goods img, text, also the floating text*/
    display: inline-block;
    margin: 100px;
    text-align: center;
}

.pics {
    /* For the size of the Goods imgs*/
    width: 400px;
    height: 266.7px;
    transition: .5s ease;
}

.pics_container:hover .pics {
    /*Change the Opacity to 30% when hovering on the img*/
    opacity: 0.3;
    cursor: pointer;
}

.pics_container:hover .hover {
    /*Make the Opacity of the text layer appear when hovering on the img*/
    opacity: 1;
}

.spacetaker {
    /*A blank entity for taking space so that the layout of the last row looks same as above rows*/
    width: 400px;
    height: 266.7px;
    background-color: white;
}

.hover {
    /*Creates a hover text, but will not show on load, unless user hovers on it*/
    text-align: center;
    transition: .5s ease;
    opacity: 0;
}

h1 {
    /*Sets the H1's style*/
    font-family: NexaLight;
}

h2 {
    /*Sets the H2's style*/
    font-family: NexaBold;
    font-size: 40px;
    position: absolute;
    text-align: center;
    margin: 100px;
}