@font-face {
    font-family:        NexaLight;
    src:url("./fonts/nexalight.ttf");
}

@font-face {
    font-family:        NexaBold;
    src:url("./fonts/nexabold.ttf");
}
.title{
    font-family:        NexaLight;
}

.container{
    display:            flex;
    justify-content:    center;
}

.pics_container{
    display:            inline-block;
    margin:             100px;
    text-align:         center;
}

.Pics{
    width:              400px;
    height:             266.7px;
    transition:         .5s ease;
}

.pics_container:hover .Pics {
    opacity:            0.3;
}

.pics_container:hover .hover {
    opacity:            1;
}

.SpaceTaker{
    width:              400px;
    height:             266.7px;
    background-color: white;
}

.hover{
    text-align: center;
    transition:         .5s ease;
    opacity:            0;
}

h2{
    font-family:        NexaBold;
    font-size:          40px;
    position:absolute;
    text-align: center;
}