* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:        NexaLight;
    src:url("./fonts/nexalight.ttf");
}

@font-face {
    font-family:        NexaBold;
    src:url("./fonts/nexabold.ttf");
}

body {
    font-family: 'NexaBold', Arial, sans-serif;
}