@font-face {
    font-family: "NexaBold";
    src: url("fonts/nexaBold.woff") format("woff"),
    url("fonts/nexaBold.woff2") format("woff2")
}

@font-face {
    font-family: "NexaLight";
    src: url("fonts/nexaLight.woff") format("woff"),
    url("fonts/nexaLight.woff2") format("woff2")
}

body {
    font-family: 'NexaBold', Arial, sans-serif;
}