* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: NexaLight;
    src: url("./fonts/nexalight.ttf");
}

@font-face {
    font-family: NexaBold;
    src: url("./fonts/nexabold.ttf");
}

body {
    font-family: 'NexaBold', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: white;
    font-size: xx-large;
}

.menu { 
    background-color: #51b2a2;
    justify-content: space-around;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.link {
    padding: 10px;
}
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: fit-content;
    padding: 20px;
    flex-shrink: 0;
    font-size: calc(4px + 1vw); 
    align-items: center;
    overflow: hidden;
    background-image: url('../img/footer/socks.jpeg');
    background-size: cover; 
    background-repeat: no-repeat;
    margin-top: auto;
}



.item {
    width: 170px;
}

.small {
    font-family: Nexalight, sans-serif;
}

.big {
    font-size: 2vw;
}


.image-link {
    display: flex;           
    justify-content: center; 
    align-items: center;     
    height: fit-content;
    padding-block: 3vh;
}
.logo {
    width: 30vw;
}

.medias {
    width: 4vw; 
    height: auto;
}

.menu-toggle {
    display: none;
}


@media (max-width: 768px) {
    .menu {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 100%;
        text-align: center;
    }

    .menu-toggle {
        display: block;
        background-color: #51b2a2;
        color: white;
        padding: 10px;
        text-align: center;
        cursor: pointer;
    }

    footer {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .item {
        margin-bottom: 20px; /* Add some space between items */
    }

    .big, .small {
        margin: 0; /* Remove margin from <p> elements for cleaner stacking */
    }

    .medias {
        margin: 5px 0; /* Add space between icons */
    }

}
@media (max-width: 480px) {
    footer {
        font-size: 12px; /* Minimum font size */
    }
}
